.titleArea h1{
    text-align: center;
	height: 70px;
    line-height: 70px;
    font-size: 1.5rem;
    background: url(./../../asset/img/note-h1.png);
    border-bottom: 1px solid #333;
    color:#fff
}