.todoContainer{
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 15px 80px;
    box-sizing: border-box;
}

.todoTitle{
    width:100%;
    border: 1px solid #09abff; 
    font-size: 1.25rem;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    outline: none;
}

.todoContent{
    width:100%;
    font-size: 0.875rem;
    min-height: 90px;
    padding: 0.5rem;
    border: 1px solid #09abff; 
    outline: none;
    box-sizing: border-box;
}
.emptyContainer{
    text-align: center;
}
.emptyContainer h1{
    width: 100%;
    background-color: #fff;
    font-size: 1.25rem;
    padding: 15px 0;
    font-weight: 500;
}
.emptyContainer h2{
    width: 100%;
    background-color: #fff;
    font-size: 0.875rem;
    padding: 0.5rem;
    box-sizing: border-box;
}