*{margin: 0;padding:0;}
ul,li{list-style: none;}
body{
	color: #666;
  background:url(./asset/img/bg.png)
}
.App{
  width: 800px;
  height: 300px;
  margin: 50px auto;
  border: 2px solid #332929;
  background:url(./asset/img/note-bg.png) repeat-y #fff8d4;
  box-shadow: 2px 2px 15px rgba(0, 0, 0,0.2);
}